h1 {
    text-align: left;
    color: blue;
    font-size: 30px;
}

body {
    background: #F5F5DC;
}

p {
    font: arial;
    color: black;
    font-size: 20pt;
}

input, form {
    margin-top: 30px;
    background-color: #c3cbd2;
    border-radius: 10px;
    border: 1px;
    font-size: 15pt;
    height: 25px;
    width: 600px;
}

button {
    position: absolute;
    height: 30px;
    border-radius: 10px;
    border: 1px;
    color: black;
    background-color: #d6a844;
    font-weight: bold;
    text-align: center;
}

select {
    position: absolute;
    background-color: #c3cbd2;
    border-radius: 10px;
    border: 1px;
    font-size: 15pt;
    height: 25px;
    width: 440px;
}

#d1 {
    position: absolute;
    background-color: lightblue;
    top: 30px;
    right: 10px;
    border: 3px solid;
    height: 50px;
    width: 500px;
    /* text: justify; */
    text-justify: auto;
}

#d2 {
    position: absolute;
    background-color: lightblue;
    top: 100px;
    right: 10px;
    border: 3px solid;
    height: 50px;
    width: 500px;
    /* text: justify; */
    text-justify: auto;
}

#d3 {
    position: absolute;
    background-color: lightblue;
    top: 20px;
    right: 10px;
    border: 3px solid;
    height: 400px;
    width: 500px;
    text-justify: auto;
    margin-right: 30px;
}

#d4 {
    position: absolute;
    background-color: lightblue;
    top: 430px;
    right: 10px;
    border: 3px solid;
    height: 110px;
    width: 500px;
    text-justify: auto;
    margin-right: 30px;
}

#figura {
    position: absolute;
    background-color: lightblue;
    top: 400px;
    left: 600px;
    border: 3px solid;
    height: 190px;
    width: 130px;
}

#butNovo{
    margin-top: 20px;
    margin-left: 100px;
}

#selectFilmes{
    width: 540px;
}

.imgFilme{
    display: block;
    margin-left: auto;
    margin-right: auto;
}